{% extends "auctions/layout.html" %}

{% block body %}
    <h2>My watchlist</h2>
    <div class="container row justify-content-around">
    {% for listing in watchlist %}
        <div class="card mb-5" style="width: 18rem;">
            <img src="{{ listing.image }}" class="card-img-top" alt="{{ listing.title }}">
            <div class="card-body">
                <h5 class="card-title">{{ listing.title }}</h5>
                <p class="card-text">{{ listing.description }}</p>
                <p class="card-text">Year: {{ listing.year }}</p>
                <p class="card-text">Kilometres: {{ listing.kilometres }}</p>
                <p class="card-text">Starting Bid: US$ {{ listing.starting_bid }}</p>
                <p class="card-text">Owner: {{ listing.user }}</p>
                <p class="card-text">Category: {{ listing.category }}</p>
                <a href="{% url 'listing' listing.id %}" class="btn btn-primary">View Listing</a>
            </div>
        </div>
    {% endfor %}
    {% if not watchlist %}
        <p>
            <strong>Oh no!</strong> You don't have any listings in your watchlist.
        </p>
    {% endif %}
    </div>
{% endblock %}